@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
    /* Blue */
    /* --color-primary: #5B23FF; */
    /* Blue */
    --color-primary: #088395;
    --color-theme: #C03471;
    /* --color-primary: #8100D1; */
}

body{
  font-family: "Poppins", sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f5f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #088395;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #088295b3;
}



/* Print  */


@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }
  
  .no-print{
    visibility: hidden;
    display: none;
  }
  /* Show only the specific div and its children */
  .printable-content, .printable-content * {
    visibility: visible;
  }
  /* Position the printable content at the top */
  .printable-content {
    position: absolute;
    left: 0;
    right:0;
    top: 0;
  }
}



